<head>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js"></script>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <h2>Memo</h2>
            <p>
                공유하고 싶은 소식을 입력해주세요.
            </p>
        </div>
        <div class="area-write">
            <textarea class="field" placeholder="무슨 일이 일어나고 있나요?" name="content" id="content" cols="30" rows="10"></textarea>
            <img src="/img/send.png" alt="" onclick="writePost()">
        </div>

        <div id="cards-box" class="area-read">
            <% if (memos.length !==0) { %>
                <% memos.forEach(memo=> { %>
                    <div class="card">
                        <!-- date/username 영역 -->
                        <div class="metadata">
                            <div class="date">
                                <script>
                                    document.write(formatTimeStamp('<%= memo.createdAt.seconds %>'));
                                </script>
                            </div>
                            <div class="username">
                                <%= memo.userId %>
                            </div>
                        </div>
                        <!-- content 조회/수정 영역-->
                        <div class="content">
                            <div id="<%=memo.id %>-content" class="text">
                                <%= memo.content %>
                            </div>
                            <div id="<%=memo.id %>-editarea" class="edit">
                                <textarea id="<%=memo.id %>-textarea" class="te-edit" name="" id="" cols="30"
                                    rows="5"></textarea>
                            </div>
                        </div>
                        <!-- 버튼 영역-->
                        <div class="footer">
                            <img id="<%=memo.id %>-edit" class="icon-start-edit" src="/img/edit.png" alt=""
                                onclick="editPost('<%=memo.id %>')">
                            <img id="<%=memo.id %>-delete" class="icon-delete" src="/img/delete.png" alt=""
                                onclick="deleteOne('<%=memo.id %>')">
                            <img id="<%=memo.id %>-submit" class="icon-end-edit" src="/img/done.png" alt=""
                                onclick="submitEdit('<%=memo.id %>')">
                        </div>
                    </div>
                    <% }); %>
                        <% }; %>
        </div>
    </div>
</body>

</html>